<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ site.data.manifest['theme.css']}}">
    <title>Document</title>
  </head>
  <body class="mx-auto content-center w-6/12">

    <div class="inset-x-0 pb-2 sm:pb-5 mb-5 mt-5">
      <div class="max-w-screen-xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="p-2 rounded-lg bg-yellow-600 shadow-lg sm:p-3">
          <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
              <p class="ml-3 font-medium text-white truncate">
                <span class="">
                  This is me coding
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ content }}
  </body>
</html>
